/*

Css Gallery Structure 

* base styles
* Typography
* Main Layout
* Hero image
* Navigation
* Small screen Navigation
* Components
* Display
* @ media queries
*  Navigation styles for small screens

*/



.gallery-heading {
    font-size:3rem;
    margin-right: auto;
    margin-left: 5%;
}




.gallery-display {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;  
    align-items: center;
    border-radius: 12px;
    padding: 10px;
    width: 90%;
    height:auto;
    margin-right: auto;
    margin-left: auto;
    background-color: #FDF5DF;
}

.image-box {
    box-sizing: content-box;
    text-align: center;
    position: relative;  
    height: 25%;
    width: 30%;
    overflow: hidden;
    display: inline-block;
    color: white;
    position: relative;
    border-radius: 12px;
    padding: 5px;
}
    


.image-display1{
    background-image: url("/assets/images/pexels-fernando-paleta-14415245.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 40vh;
    margin-right: 1%;
 
   
}


.image-display2 {
    background-image: url("/assets/images/pexels-marco-vargas-14346793.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 40vh;
    margin-right: 1%;

}


.image-display3 {
    background-image: url("/assets/images/pexels-fernando-paleta-14415254.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 40vh;
    margin-right: 1%;


}


.image-display4 {
    background-image: url("/assets/images/pexels-jesus-toledo-14320195.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 40vh;
    margin-right: 1%;

}


.image-display5 {
    background-image: url("/assets/images/pexels-jesus-toledo-14320195.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 40vh;
    margin-right: 1%;

}


.image-display6 {
    background-image: url("/assets/images/pexels-jesus-toledo-14320195.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    width:100%;
    height: 40vh;
    margin-right: 1%;

}

   