.display {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 90%;
    height: 50vh;
    margin: 0 auto;
    border-radius: 12px;
    z-index: 1000;

}

.image-controller {
    display: grid;
    grid-template-rows: repeat(6,1fr);
    width: 50%;
    height: 50vh;
}

.image-button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-style:1px inset  white;
    box-sizing: border-box;
    cursor: pointer;
    text-align: center;
    border-radius: 12px;
    padding:10px;
    margin:1% 1% 1% 1%;
    
}

.image-button:hover {
    background-color: #f356e5;
}


