
.gallery-display {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;  
    align-items: center;
    padding: 2px;
    width: 100%;
    height:auto;
    margin-right: auto;
    margin-left: auto;
}

.image-box {
    box-sizing: content-box;
    margin: 5px;
    height: 25%;
    width: 30%;
    overflow: hidden;
    display: inline-block;
    color: white;
    position: relative;
    border-radius: 12px;
    padding: 5px;
}
    


.image-display1{
    background-image: url("/assets/images/pexels-fernando-paleta-14415245.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 40vh;
    margin-right: 1%;
    transform: skewY(-5deg);
   

}


.image-display2 {
    background-image: url("/assets/images/pexels-marco-vargas-14346793.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 40vh;
    margin-right: 1%;

}


.image-display3 {
    background-image: url("/assets/images/pexels-fernando-paleta-14415254.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 40vh;
    margin-right: 1%;


}


.image-display4 {
    background-image: url("/assets/images/pexels-jesus-toledo-14320195.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 40vh;
    margin-right: 1%;

}


.image-display5 {
    background-image: url("/assets/images/pexels-jesus-toledo-14320195.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 40vh;
    margin-right: 1%;

}


.image-display6 {
    background-image: url("/assets/images/pexels-jesus-toledo-14320195.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    width:100%;
    height: 40vh;
    margin-right: 1%;

}

   