
.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    background-color: #FDF5DF;
}

/*.image-controller {
    display: grid;
    grid-template-rows: repeat(6,1fr);
    width: 50%;
    height: 50vh;
}*/

.image-controller {
    flex-basis: 2;
    flex-direction: row;
}


.image-button {
    display: flex;
    justify-content: center;
    align-items: center;
  
    box-sizing: border-box;
    cursor: pointer;
    text-align: center;
    border-radius: 12px;
    padding:10px;
    margin: 5% 1% 1% 1%;
    transition: ease-in-out 99ms;
    
}

.image-button:hover {
    background-color: #f356e5;
}





#image1.image-button:hover ~ #display {
  background-image: url("/assets/images/pexels-jesus-toledo-14320195.jpg");
  transition: ease-in-out 99ms;
}


#image2.image-button:hover ~ #display {
    background-image: url("/assets/images/pexels-bhargava-marripati-3551805.jpg");
    
}

#image3.image-button:hover ~ #display {
    background-image: url("/assets/images/pexels-fernando-paleta-14415245.jpg");
}

#image4.image-button:hover ~ #display {
    background-image: url("/assets/images/pexels-fernando-paleta-14415254.jpg");
}

#image5.image-button:hover ~ #display {
    background-image: url("/assets/images/pexels-marco-vargas-14346793.jpg");
}

#image6.image-button:hover ~ #display {
    background-image: url("/assets/images/pexels-oscar-damián-jiménez-14427926.jpg");
}


#display {
    margin-right: auto;
    margin-left: auto;
    width:100%;
    height:50vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;    
    /*border:3px solid #f356e5;*/
   
    
  }
