/*

Css Gallery Structure 

* base styles
* Typography
* Main Layout
* Hero image
* Navigation
* Small screen Navigation
* Components
* Display
* @ media queries
*  Navigation styles for small screens

*/

/* Typography */

.gallery-heading {
    font-size:3rem;
    margin-right: auto;
    margin-left: 5%;
    color:#5F0A87;
}



.gallery-display {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px,1fr));
    background-color: #FDF5DF;
    width: 90%;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    border-radius: 12px;
    padding: 10px;
}

.image-box {
position: relative;
overflow: hidden;
}
    


.image-display1,
.image-display2,
.image-display3,
.image-display4,
.image-display5,
.image-display6,
.image-display7,
.image-display8,
{
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
    width: 100%;
    height: 150px;
      
}

.image-display1 {background-image: url("/");}
.image-display2 {background-image: url("/");}
.image-display3 {background-image: url("/");}
.image-display4 {background-image: url("/");}
.image-display5 {background-image: url("/");}
.image-display6 {background-image: url("/");}
.image-display7 {background-image: url("/");}
.image-display8 {background-image: url("/");}
