/*

Css Gallery Structure 

* base styles
* Typography
* Main Layout
* Hero image
* Navigation
* Small screen Navigation
* Components
* Display
* @ media queries
*  Navigation styles for small screens

*/

/* Typography */
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.gallery-heading {
    font-size:3rem;
    margin-right: auto;
    margin-left: 5%;
    color:#5F0A87;
}



.gallery-display {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    gap: 10px;
    background-color: #FDF5DF;
    width: 90%;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    border-radius: 12px;
    padding: 10px;
}

.image-box {
position: relative;
overflow: hidden;
}
    


.image-display1,
.image-display2,
.image-display3,
.image-display4,
.image-display5,
.image-display6 {
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
    width: 100%;
    height: 250px;
}

.image-display1 {background-image: url("/assets/images/gallery/pexels-bhargava-marripati-3551805.jpg");}
.image-display2 {background-image: url("/assets/images/gallery/pexels-bruno-miranda-photography-14448838.jpg");}
.image-display3 {background-image: url("/assets/images/gallery/pexels-jair-hernandez-13528639.jpg");}
.image-display4 {background-image: url("/assets/images/gallery/pexels-fernando-paleta-14415227.jpg");}
.image-display5 {background-image: url("/assets/images/gallery/pexels-marco-vargas-14346793.jpg");}
.image-display6 {background-image: url("/assets/images/gallery/pexels-oscar-damián-jiménez-14427926.jpg");}
