/*

Css Gallery Structure 

* Typography
* Main Layout
* @ media queries

*/

/* Typography */

.gallery-heading {
    font-size: 3rem;
    margin-right: auto;
    margin-left: 5%;
    color: #5F0A87;
  }
  
  /* Main Layout */
.gallery-display {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-auto-rows:  350px 350px;
    grid-gap: 5px;
    width: 90%;
    height: auto;
    margin-right:auto;
    margin-left: auto;
    margin-bottom: 1%;
    background-color: #FDF5DF;
    transition: background-size 2s ease-in;
}
    

  

.image-box {
   margin-top: 1%;
   position: relative;
   overflow: hidden;
   box-sizing: border-box;
   width: 100%;
   height: auto;
  }

  
  .image-display1,
  .image-display2,
  .image-display3,
  .image-display4,
  .image-display5,
  .image-display6,
  .image-display7,
  .image-display8 {
    display: block;
    gap: 5px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 350px;
  }
  
/* main layout end */

/* images in the gallery  */

.image-display1 {background-image: url('/assets/images/gallery/pexelsbhargavamarripati3551805.jpg');}
.image-display2 {background-image: url('/assets/images/gallery/pexelsbrunomirandaphotography14448838.jpg');}
.image-display3 {background-image: url('/assets/images/gallery/pexelsjesustoledo14320195.jpg');}
.image-display4 {background-image: url('/assets/images/gallery/pexelsfernandopaleta14415227.jpg');}
.image-display5 {background-image: url('/assets/images/gallery/pexelsmarcovargas14346793.jpg');}
.image-display6 {background-image: url('/assets/images/gallery/pexelsoscardamiánjiménez14427926.jpg');
}
.image-display7 {background-image: url('/assets/images/gallery/pexelscolibrtirado14270040.jpg');
}
.image-display8 {background-image: url('/assets/images/gallery/pexelsfernandopaleta14414680.jpg');
}

.image-display1:hover {
      opacity: 0.5;
  }
.image-display2:hover {
    opacity: 0.5;
  }
.image-display3:hover {
    opacity: 0.5;
  }
.image-display4:hover {
    opacity: 0.5;
  }
.image-display5:hover {
    opacity: 0.5;
    
  }
.image-display6:hover {
    opacity: 0.5;
  }
  
.image-display7:hover {
  opacity: 0.5;
}

.image-display8:hover {
   opacity: 0.5;
}
  
/* media layout */


@media (max-width: 1550px) {
  .gallery-display {
    display: grid;
    grid-template-columns: repeat(2,1fr);    
    grid-gap: 5px;
    }
}



@media (max-width: 968px) {
.gallery-display {
    display: grid;
    grid-template-columns: repeat(1,1fr);    
    grid-gap: 5px;
    }
}


