#plan {
    background-image: url('/assets/images/pexelsedgarsantost14360649.jpg');    
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 90%;
    height: 70vh;
    margin: 0 auto;
    border-radius: 12px;
}


.heading-plan{
    color:#5EBEC4;
 }

 .plan {
    margin: 1% 1% 1% 1%;
    
    width: 90%;
    height: auto;
    text-align: left;

}