/*

Css Structure 

* base styles
* Typography
* Main Layout
* Hero image
* Navigation
* Small screen Navigation
* Components
* Display
* @ media queries
*  Navigation styles for small screens



color schemes: 
background - #FDF5DF
headings - #5EBEC4
buttons before #A0AECD
buttons hover color - #F92C85
*/


/* base styles start  */

@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&family=Noto+Sans:wght@300&display=swap');

* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body {
    background-color: white;
    scroll-behavior: smooth;
}

/* base styles end  */

/*  Typography  Start  */


h1,h2,h3,h4 {
font-family: 'Delicious Handrawn', cursive;
font-size: 1.9rem;
}


figcaption {
    font-family: 'Delicious Handrawn', cursive;
    font-size: 1.2rem; 
    color:#9E15BF;
}


p {
  font-family: 'Noto Sans', sans-serif;
  line-height: 1.6;
  font-size: 1.1rem;
  font-weight: 700; 
  color: #3a3a3a;
  word-spacing: normal;
  max-width: 600px;
  margin: 0 auto;
  text-align: left;
}


/*  Typography  End  */

/* Main Layout Start */

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FDF5DF;
    margin: 1% auto 2%;
    height: 10rem;
    width: 90%;
    padding: 10px;
    border-radius: 12px;
}


main {

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    margin: 2% auto;
    width: 90%;
    background-color: #FDF5DF;
    border-radius: 12px;
    padding: 10px;

}

section {
    border-radius: 12px;
    margin: 1% auto;
    margin-right: 1%;
    margin-left: 1%;
    overflow: auto;
}

footer  {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 2rem;
   margin: 2% auto;
   background-color: #FDF5DF;
   padding: 18px;
   width: 90%;
   height: auto;
   border-radius: 12px;
   color:#5F0A87;
}

footer h3 {
    text-align: left;
}

/* Main Layout End */


/* Hero image */

#hero {
    background-image: url("/assets/images/pexels-irving-joaquin-gutierrez-14094644.jpg");    
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 90%;
    height: 70vh;
    margin: 0 auto;
    border-radius: 12px;
 }
 
 /* Hero image End */



/* Navigation Start */

#logo-home-button {
    margin-left:1%;
    margin-right: 1%;
    text-decoration: none;
    font-size:4rem;
    color:#5EBEC4;
    
    }

nav {
    display: flex;
    margin-right: 2rem;
    
}
 
nav ul li {
    display: inline-block;
    margin: 0 0.5rem;
   
}
 
nav a {
    display: block;
    padding:10px;
    font-size: 1.3rem;
    text-decoration: none;
    color: #A0AECD;
    transition: color 0.2s ease;
    
}  

nav a:hover {
   color:#F92C85;
   text-decoration: underline;
}

/* Small screen Navigation Start*/

.nav-skull {
    position: relative;
    display: inline-block;
    font-size: 6rem;
    color:#5EBEC4;
}

#mob-menu {
    position: absolute;
    top: 100%;
    left: 70%;
    transform: translateX(-70%);
    background-color: #FDF5DF;
    padding: 1rem;
    border-radius: 10px;
    text-align: center;
    border:1px #3a3a3a solid;
 
}

#mob-menu ul li a {
    list-style-type: none;
    margin: 0.25rem 0;
    padding: 0;
    text-align: center;
    font-size: 1.4rem;
    line-height: 1.9;
    text-decoration: none;
    color: #A0AECD;
    transition: color 0.2s ease;
   
}

#mob-menu ul li a:hover {
    color:#ff8489;
    text-decoration: underline; 
}

.nav-skull:hover #mob-menu {
    display: block;
    width: min-content;
    height: min-content;
   
}


/* Small screen Navigation End */


/* Navigation End */


/* Components Start */

figure > img {   
    display: block;
    margin-left:auto;
    margin-right: auto;
    width: 100%;
    max-height:60vh;
    object-fit: cover;    
    border-radius: 50%;   
}

.youtube-video {
    border: none;
  }


.video-wrapper {
    position: relative;
    width: 100%;
    height:auto;
    padding-bottom: 56.25%; 
    overflow: hidden;    
  }
 
.video-wrapper iframe {
    position: absolute;
    top: 8%;
    left: 0;
    width: 100%;
    height: max-content;
    border:1px solid #5F0A87;
}

hr {
    width: 60%;
    height: 1px;
    background-color: #923cb5;
    border: none;  
}

.web-sign {
    display: block;
    font-size:0.8rem;
    text-align: center;
}

.social {
    display: flex;
    flex-direction: row;
    gap:2%;
    margin-top: 2%;
    margin-left:2%;
    list-style: none;
    padding: 0;
}

.social li i {
    margin-top: 2%;
    font-size: 6rem;
    color:#990011FF;   
}

.social a i:hover {
    color:#ff8489;
}

.legend {
    margin: 1%;
    color:#5F0A87;
    text-align: left;
}

form {
    margin: 1% auto 1% 1%;
}

label input {
    margin-top: 2%;
    border:none;
    border-radius: 10px;
    padding:4px;
    background-color: #5EBEC4;
}

::placeholder {
    color:white;
}

input[type="submit"] {
    margin-top: 2%;
    display: inline-block;
    border:none;
    border-radius: 10px;
    padding:4px;
    text-align: center;
    background-color: #5EBEC4;
    color:#3a3a3a;
}

input[type="submit"]:hover {
    background-color: #ff8489;
    color:white;
}


/* Components End */

/* Display */

.hidden {
    display: none;
}



/* Media queries Start */




/* Navigation styles for large large screens */
@media (max-width: 900px) {
    main {
      display: flex;
      flex-direction: column;
      gap: 2rem;
    }
   
     p {
      font-family: 'Noto Sans', sans-serif;
      line-height: 1.6;
      font-size: 1.1rem;
      font-weight: 700; 
      color: #3a3a3a;
      word-spacing: normal;
      max-width: 600px;
      margin: 0 auto;
      text-align: left;
    }
    footer {
        grid-template-columns: 1fr;
        gap: 1rem; 
    }
}

  
@media screen and (min-width: 768px) {
    nav {
        display: flex;
        margin-right: 1rem;
    }

    nav ul li {
        display: inline-block;
        margin: 0 0.25rem;
    }

    nav a {
        display: block;
        padding: 5px;
        font-size: 1.4rem;
        text-decoration: none;
        color: #A0AECD;
        transition: color 0.2s ease;
    }

    nav a:hover {
        color: #ff8489;
        text-decoration: underline;
    }

    .nav-skull {
        display: none; 
    }
    
      
}

/* Navigation styles for small screens */
@media screen and (max-width: 767px) {
    nav {
        display: none; 
    }
#sticky {
    position: fixed;
    z-index:9999;
    margin-right: auto;
    margin-left: 60%;
   

}
.nav-skull {
    position: relative;
    display: inline-block;
    margin-left:6%;
    margin-top: 7%;
    font-size: 4rem;
    color:#5EBEC4;
}

#mob-menu {
    position: absolute;
    top: 100%;
    left: 70%;
    transform: translateX(-70%);
    background-color: #FDF5DF;
    padding: 1rem;
    border-radius: 10px;
    text-align: center;
}
}

#mob-menu ul li a {
    list-style-type: none;
    margin: 0.25rem 0;
    padding: 0;
    text-align: center;
    font-size: 1.3rem;
    line-height: 1.9;
    text-decoration: none;
    color: #A0AECD;
    transition: color 0.2s ease;
   
}

#mob-menu ul li a:hover {
    color:#ff8489;
    text-decoration: underline; 
}

.nav-skull:hover #mob-menu {
    display: block;
    width: max-content;
    height: max-content;
   
}


@media (max-width: 700px) {
 #logo-home-button {
    margin-left:1%;
    margin-right: 1rem;
    text-decoration: none;
    font-size:3rem;
    color:#5EBEC4;
}

p {
  font-family: 'Noto Sans', sans-serif;
  line-height: 1.6;
  font-size: 1.1rem;
  font-weight: 700; 
  color: #3a3a3a;
  word-spacing: normal;
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}

h1, h2, h3 {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}
figure > img {   
    display: block;
    margin-left:auto;
    margin-right: auto;
    width: 80%;
    max-height:80vh;
    object-fit: cover;    
    border-radius: 50%;   
}

}

@media (max-width: 320px) {
    
    figure > img {   
        display: block;
        margin-left:auto;
        margin-right: auto;
        width: 50%;
        max-height:80vh;
        object-fit: cover;    
        border-radius: 50%;   
    }
    #logo-home-button {
        margin-left:-3%;
        margin-right: 1rem;
        text-decoration: none;
        font-size:2rem;
        color:#5EBEC4;
     }
    }
    
.social li i {
    font-size: 2rem;
    color:#990011FF;   
}

.social {
    display: flex;
    flex-direction: row;
    gap:3%;
    margin-top: 1%;
    margin-left:2%;
    list-style: none;
    padding: 0;
}

#about > p {
    margin-top: 1%;
    margin-left: 1%;
    font-size:0.8rem;
    color:#3a3a3a;
    text-align: left;
    font-family: 'Noto Sans', sans-serif;
}

/* Media queries End */
