@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&family=Noto+Sans:wght@300&display=swap');


* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body {
    background-color: white;
    scroll-behavior: smooth;
}
/*  Typography  Start  */
h1,h2,h3 {
font-family: 'Delicious Handrawn', cursive;
font-size: 1.9rem;
}

p {
  font-family: 'Noto Sans', sans-serif;
  line-height: 1.6;
  font-size: 1.1rem;
  font-weight: 700; 
  color: #3a3a3a;
  word-spacing: normal;
  word-break: break-word;
  max-width: 600px;
  margin: 0 auto;
}

/*  Typography  End  */
header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#FCF6F5FF;
    margin: 1% auto 2%;
    height: 10rem;
    padding: 10px;
    width: 90%;
    padding: 10px;
    border-radius: 12px;
}



/* Navigation Start */
#logo-home-button {
    margin-left:1%;
    margin-right: 2rem;
    text-decoration: none;
    font-size:4rem;
    color:#fbd72b;
    
    }

nav {
    display: flex;
    margin-right: 1rem;
}
 
nav ul li {
    display: inline-block;
    margin: 0 0.5rem;
}
 
nav a {
    display: block;
    padding:10px;
    font-size: 1.2rem;
    text-decoration: none;
    color:#990011FF;
    transition: color 0.2s ease;
}  

nav a:hover {
   color:#ff8489;
   text-decoration: underline;
}





/* Small screen Navigation Start*/
.nav-skull {
    position: relative;
    display: inline-block;
    font-size: 6rem;
    color: #fbd72b;
}

#mob-menu {
    display: none;
    position: absolute;
    left: 0;
    top: 100%;
    background-color:#FCF6F5FF;
    padding: 0.5rem;
    border:1px solid #3a3a3a;
    text-align: center;
 
}

#mob-menu ul li a {
    list-style-type: none;
    margin: 0.25rem 0;
    padding: 0;
    text-align: center;
    font-size: 1.2rem;
    line-height: 1.9;
    text-decoration: none;
    color:#990011FF;
    transition: color 0.2s ease;
   
}

#mob-menu ul li a:hover {
    color:#ff8489;
    text-decoration: underline; 
}

.nav-skull:hover #mob-menu {
    display: block;
    width: min-content;
    height: min-content;
   
}


/* Small screen Navigation End */


/* Navigation End */

/* Hero image */
#hero {
background-image: url("/assets/images/pexels-irving-joaquin-gutierrez-14094644.jpg");    
background-size: cover;
background-position: center;
background-repeat: no-repeat;
width: 90%;
height: 70vh;
margin: 0 auto;
border-radius: 12px;
}

/* Hero image End */

/* Main Layout Start */


main {

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    margin: 2% auto;
    width: 90%;
    background-color: #923cb5;
    background-image: linear-gradient(347deg, #5AFF15 5%,#fbd72b 85%);
    border-radius: 12px;
    padding: 10px;

}

section {
    border-radius: 12px;
    margin: 1% auto;
    margin-right: 1%;
    margin-left: 1%;
    overflow: auto;
}

section > img {   
    margin-left:auto;
    margin-right: auto;
    width: 100%;
    height:70vh;
    object-fit: fill;    
    border-radius: 50%;   
}



footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#FCF6F5FF;
    margin: 1% auto 2%;
    height: 10rem;
    padding: 10px;
    width: 90%;
    padding: 10px;
    border-radius: 12px;
}

/* Main Layout End */

/* Componets Start */

.youtube-video {
    border: none;
  }


.video-wrapper {
    position: relative;
    width: 100%;
    height:auto;
    padding-bottom: 56.25%; 
    overflow: hidden;    
  }
 
.video-wrapper iframe {
    position: absolute;
    top: 8%;
    left: 0;
    width: 100%;
    height: max-content;
    border:1px solid #5F0A87;
}

/* Componets Start */




/* Media queries Start */

@media (max-width: 900px) {
  main {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
 section > img {   
    display: flex;
    align-items: center;
    margin-left:auto;
    margin-right: auto;
    width: 100%;
    height:50vh;
    object-fit: contain;
    padding:0;  
    border-radius: 0;
   
    }
  
}




@media (max-width: 700px) {
 #logo-home-button {
    margin-left:1%;
    margin-right: 1rem;
    text-decoration: none;
    font-size:3rem;
    color:#fbd72b; }
}
p {
  font-family: 'Noto Sans', sans-serif;
  line-height: 1.6;
  font-size: 1.1rem;
  font-weight: 700; 
  color: #3a3a3a;
  word-spacing: normal;
  word-break: break-word;
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}

h1 h2 h3 {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}
/* Media queries Start */