@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&family=Noto+Sans:wght@300&display=swap');


* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body {
    background-color: white;
}
/*  Typography  Start  */
h1,h2,h3 {
font-family: 'Delicious Handrawn', cursive;
}

p {
font-family: 'Noto Sans', sans-serif;
}

/*  Typography  End  */
header {

    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#FCF6F5FF;
    margin: 1% auto 2%;
    height: 10rem;
    padding: 10px;
    width: 90%;
    padding: 10px;
}



/* Navigation Start */
nav {
    display: flex;
    margin-right: 1rem;
}
 
nav ul li {
    display: inline-block;
    margin: 0 0.5rem;
}
 
nav a {
    display: block;
    padding: 10px;
    font-size: 1.5rem;
    text-decoration: none;
    color:#990011FF;
    transition: color 0.2s ease;
}  

nav a:hover {
   color:#ff8489;
   text-decoration: underline;
}


/* Navigation End */
main {

}

section {

}