/*

Css Structure 

* base styles
* Typography
* Main Layout
* Hero image
* Navigation
* Small screen Navigation
* Componets
* Display
* @ media queries
*  Navigation styles for small screens

*/


/* base styles start  */

@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&family=Noto+Sans:wght@300&display=swap');

* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body {
    background-color: white;
    scroll-behavior: smooth;
}

/* base styles end  */

/*  Typography  Start  */


h1,h2,h3,h4 {
font-family: 'Delicious Handrawn', cursive;
font-size: 1.9rem;
}


figcaption {
    font-family: 'Delicious Handrawn', cursive;
    font-size: 1.2rem; 
    color:#9E15BF;
}


p {
  font-family: 'Noto Sans', sans-serif;
  line-height: 1.6;
  font-size: 1.1rem;
  font-weight: 700; 
  color: #3a3a3a;
  word-spacing: normal;
  max-width: 600px;
  margin: 0 auto;
  text-align: left;
}


/*  Typography  End  */

/* Main Layout Start */

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#FCF6F5FF;
    margin: 1% auto 2%;
    height: 10rem;
    padding: 10px;
    width: 90%;
    padding: 10px;
    border-radius: 12px;
}


main {

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    margin: 2% auto;
    width: 90%;
    background-color: #923cb5;
    background-image: linear-gradient(347deg, #5AFF15 5%,#fbd72b 85%);
    border-radius: 12px;
    padding: 10px;

}

section {
    border-radius: 12px;
    margin: 1% auto;
    margin-right: 1%;
    margin-left: 1%;
    overflow: auto;
}

footer  {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 2rem;
   margin: 2% auto;
   background-color: #FCF6F5FF;
   padding: 18px;
   width: 90%;
   height: auto;
   border-radius: 12px;
   color:#fbd72b;
}

/* Main Layout End */


/* Hero image */

#hero {
    background-image: url("/assets/images/pexels-irving-joaquin-gutierrez-14094644.jpg");    
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 90%;
    height: 70vh;
    margin: 0 auto;
    border-radius: 12px;
 }
 
 /* Hero image End */



/* Navigation Start */

#logo-home-button {
    margin-left:1%;
    margin-right: 1rem;
    text-decoration: none;
    font-size:4rem;
    color:#fbd72b;
    
    }

nav {
    display: flex;
    margin-right: 1rem;
}
 
nav ul li {
    display: inline-block;
    margin: 0 0.5rem;
}
 
nav a {
    display: block;
    padding:10px;
    font-size: 1.2rem;
    text-decoration: none;
    color:#990011FF;
    transition: color 0.2s ease;
}  

nav a:hover {
   color:#ff8489;
   text-decoration: underline;
}

/* Small screen Navigation Start*/

.nav-skull {
    position: relative;
    display: inline-block;
    font-size: 6rem;
    color: #fbd72b;
}

#mob-menu {
    display: none;
    position: absolute;
    left: 0;
    top: 100%;
    background-color:#FCF6F5FF;
    padding: 0.5rem;
    border:1px solid #3a3a3a;
    text-align: center;
 
}

#mob-menu ul li a {
    list-style-type: none;
    margin: 0.25rem 0;
    padding: 0;
    text-align: center;
    font-size: 1.2rem;
    line-height: 1.9;
    text-decoration: none;
    color:#990011FF;
    transition: color 0.2s ease;
   
}

#mob-menu ul li a:hover {
    color:#ff8489;
    text-decoration: underline; 
}

.nav-skull:hover #mob-menu {
    display: block;
    width: min-content;
    height: min-content;
   
}


/* Small screen Navigation End */


/* Navigation End */


/* Componets Start */

figure > img {   
    display: block;
    margin-left:auto;
    margin-right: auto;
    width: 100%;
    max-height:60vh;
    object-fit: cover;    
    border-radius: 50%;   
}

.youtube-video {
    border: none;
  }


.video-wrapper {
    position: relative;
    width: 100%;
    height:auto;
    padding-bottom: 56.25%; 
    overflow: hidden;    
  }
 
.video-wrapper iframe {
    position: absolute;
    top: 8%;
    left: 0;
    width: 100%;
    height: max-content;
    border:1px solid #5F0A87;
}

hr {
    width: 60%;
    height: 1px;
    background-color: #923cb5;
    border: none;  
}

.web-sign {
    display: block;
    font-size:0.8rem;
    text-align: center;
}

.social {
    display: flex;
    list-style: none;
    padding: 0;
}
.social li i {
    margin-top: 2%;
    margin-right: 2%;
    font-size: 2rem;
    color:#990011FF;
    
}
.social a i:hover {
    color:#ff8489;
}


/* Componets End */

/* Display */

.hidden {
    display: none;
}



/* Media queries Start */




/* Navigation styles for large large screens */
@media (max-width: 1270px) {
    p {
        font-family: 'Noto Sans', sans-serif;
        line-height: 1.6;
        font-size: 1.1rem;
        font-weight: 700; 
        color: #3a3a3a;
        word-spacing: normal;
        max-width: 600px;
        margin: 0 auto;
        text-align: left;
      }
    
}

@media (max-width: 900px) {
    main {
      display: flex;
      flex-direction: column;
      gap: 2rem;
    }
   
     p {
      font-family: 'Noto Sans', sans-serif;
      line-height: 1.6;
      font-size: 1.1rem;
      font-weight: 700; 
      color: #3a3a3a;
      word-spacing: normal;
      max-width: 600px;
      margin: 0 auto;
      text-align: left;
    }
    footer {
        grid-template-columns: 1fr;
        gap: 1rem; 
    }
}

  
@media screen and (min-width: 768px) {
    nav {
        display: flex;
        margin-right: 1rem;
    }

    nav ul li {
        display: inline-block;
        margin: 0 0.25rem;
    }

    nav a {
        display: block;
        padding: 5px;
        font-size: 1.2rem;
        text-decoration: none;
        color: #990011FF;
        transition: color 0.2s ease;
    }

    nav a:hover {
        color: #ff8489;
        text-decoration: underline;
    }

    .nav-skull {
        display: none; 
    }
    
      
}

/* Navigation styles for small screens */
@media screen and (max-width: 767px) {
    nav {
        display: none; 
    }
#sticky {
    position: fixed;
    z-index:9999;
    margin-right: auto;
    margin-left: 50%;
   

}
.nav-skull {
    position: relative;
    display: inline-block;
    margin-left:6%;
    margin-top: 7%;
    font-size: 4rem;
    color:#9E15BF;
}

#mob-menu {
    display: none;
    position: absolute;
    left: 0;
    top: 100%;
    background-color:#FCF6F5FF;
    padding: 0.5rem;
    border:1px solid #3a3a3a;
    text-align: center;
 
}

#mob-menu ul li a {
    list-style-type: none;
    margin: 0.25rem 0;
    padding: 0;
    text-align: center;
    font-size: 0.9rem;
    line-height: 1.9;
    text-decoration: none;
    color:#990011FF;
    transition: color 0.2s ease;
   
}

#mob-menu ul li a:hover {
    color:#ff8489;
    text-decoration: underline; 
}

.nav-skull:hover #mob-menu {
    display: block;
    width: min-content;
    height: min-content;
   
}
}

@media (max-width: 700px) {
 #logo-home-button {
    margin-left:1%;
    margin-right: 1rem;
    text-decoration: none;
    font-size:3rem;
    color:#fbd72b; }
}
p {
  font-family: 'Noto Sans', sans-serif;
  line-height: 1.6;
  font-size: 1.1rem;
  font-weight: 700; 
  color: #3a3a3a;
  word-spacing: normal;
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}

h1, h2, h3 {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}
figure > img {   
    display: block;
    margin-left:auto;
    margin-right: auto;
    width: 80%;
    max-height:80vh;
    object-fit: cover;    
    border-radius: 50%;   
}

@media (max-width: 320px) {
    
    figure > img {   
        display: block;
        margin-left:auto;
        margin-right: auto;
        width: 50%;
        max-height:80vh;
        object-fit: cover;    
        border-radius: 50%;   
    }
}
/* Media queries End */
